<html>
<title> Home Page </title>

<head>
    <style>
        /* #grad1 {
            height: 200px;
            background-image: linear-gradient(to bottom right, rgb(240, 110, 196), rgb(245, 245, 130));
        } */

        .navbar {min-height:50px !important}
        input{min-height: 50px !important;}
        button{min-height: 50px !important;}
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            animation-name: example;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        .AlbumImage {
            position: relative;
            height: 100%;
            width: 100%;
        }

        .AlbumImage img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            -webkit-box-shadow: 0 0 15px rgb(44, 40, 40);
            box-shadow: 0 0 15px rgb(44, 40, 40);
        }
        {% if rgb|length > 6 %}
        @keyframes example {
            0% {
                background-color: rgb({{rgb[0][0]}}, {{rgb[0][1]}}, {{rgb[0][2]}});
            }

            15% {
                background-color: rgb({{rgb[1][0]}}, {{rgb[1][1]}}, {{rgb[1][2]}});
            }

            30% {
                background-color: rgb({{rgb[2][0]}}, {{rgb[2][1]}}, {{rgb[2][2]}});
            }

            45% {
                background-color: rgb({{rgb[3][0]}}, {{rgb[3][1]}}, {{rgb[3][2]}});
            }

            65% {
                background-color: rgb({{rgb[4][0]}}, {{rgb[4][1]}}, {{rgb[4][2]}});
            }
            80% {
                background-color: rgb({{rgb[5][0]}}, {{rgb[5][1]}}, {{rgb[5][2]}});
            }
            100% {
                background-color: rgb({{rgb[6][0]}}, {{rgb[6][1]}}, {{rgb[6][2]}});
            }
        }
        {%endif%}
    </style>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="text-align: center" id="grad1">
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <form class="navbar-form navbar-center" action="/" method="POST" autocomplete="off">
      <div class="form-group">
        <input list="SongsList" type="text" class="form-control" placeholder="Song" name="song">
        <input type="text" class="form-control" placeholder="Artist" name="artist" id="artistInput">
        <datalist id="SongsList">
            {%for song in SongData%}
                <option  value="{{song}}">
            {%endfor%}
        </datalist>

      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

{% if image is defined %}
    <div class="AlbumImage">
        <img src={{image}} style="width:600px;height:600px;">
    </div>
{% else %}
<div class="AlbumImage">
    <h1>Welcome to LED Colour Picker </h1>
    <h3 style="color:red;">{{error}}</h3>
</div>
{% endif %}

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on('change', 'input', function(){
        var options = $('datalist')[0].options;
        var val = $(this).val();
        for (var i=0;i<options.length;i++){
            if (options[i].value === val) {
                var a = {{ArtistData | tojson}}
                document.getElementById('artistInput').value = a[i];
                break;
            }
        }
    });

</script>


</hmtl>
